{{ define "nav" }}
<nav
style="
background-color: var(--color-nav);
display: flex;
"
>
    <div id="nav-container" style="
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    margin: 0;
    ">
        <a href="/">
            <div class="logo">
                <img src="/imgs/june.png" alt="Jazzy Cloud Logo" id="june">
            </div>
        </a>
        <div id="menu">
            <ul class="nav-links" style="
            display: flex;
            list-style-type: none;
            margin-right: 10px;
            ">
                <li><a href="/blog">Blog</a>/</li>
                <li><a href="/services">Services</a>/</li>
            </ul>
        </div>
    </div>
</nav>
{{ end }}