{{ define "nav" }}
<nav
>
    <div id="nav-container">
        <a href="/">
            <div class="logo">
                <img src="/imgs/june.png" alt="Jazzy Cloud Logo" id="june">
            </div>
        </a>
        <div id="menu">
            <ul class="nav-links" style="
            display: flex;
            list-style-type: none;
            margin-right: 10px;
            ">
                <li><a href="/posts">Posts</a>/</li>
                <li><a href="/about">Me?</a>/</li>
            </ul>
        </div>
    </div>
</nav>
{{ end }}
