<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About</title>
        <link href="/css/style.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Fira Code' rel='stylesheet'>
        <script src="https://kit.fontawesome.com/9c3c92ad15.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {{ template "nav" . }}

        <article id="contents">
            <h1>Hi!</h1>
            <p>
                I'm a neuroscience grad with a penchant for computers. My projects span across image processing, software development, embeded systems, devops, systems engineering... you get the idea
            </p>
            <p> 
                That pup you see in the top left is the bestest doggo in the world (in my humble opinion) -- Her name is June!
            </p>
            <img src="/imgs/june/june-and-me-irl.jpg" alt="June the dog">
            <img src="/imgs/june/june1.jpg" alt="June again">
            <img src="/imgs/june/june2.jpg" alt="June another time">

        </article>
            
        {{ template "footer" . }}

    </body>

