<html>
    <head>
        <title>Daniel Alas</title>
        <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
        <link href="/css/style.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Fira Code' rel='stylesheet'>
        <script src="https://kit.fontawesome.com/9c3c92ad15.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- nav template -->
        {{ template "nav" . }}
        <!-- main content -->
        <main>
            <div id="intro" style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            ">
            <h1>Hi! My name is Daniel</h1>
            <br/>
            <br/>
            <h3>I make things that sometimes work</h3> 
            </div>
            <div id="socials" >
                <div>
                    <a href="https://github.com/DannyAlas" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </div>
                <div>
                    <a href="https://www.linkedin.com//in/daniel-alas/" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </main>
        <!-- footer -->
        {{ template "footer" . }}
    </body>
    <script src="/js/index.js"></script>
</html>

