<html>
    <head>
        <title>Daniel Alas</title>
        <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
        <link href="/css/style.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Fira Code' rel='stylesheet'>
    </head>
    <body>
        <!-- nav template -->
        {{ template "nav" . }}
        <!-- main content -->
        <main>
            <div id="intro" style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            ">
            <h1>Hi! My name is Daniel</h1>
            <h3>I make things that sometimes work</h3> 
            </div>
        </main>
        <!-- footer -->
        {{ template "footer" . }}
    </body>
    <script src="/js/index.js"></script>
</html>

